{% extends 'layout.html' %}

{% block content %}
  <br>
  <br>
  <div class="row">
    <h1>Dantat</h1>
    <p>
      A simple API to determine whether or not <a href="http://goldengatebakery.com/">Golden Gate Bakery</a> is open.
    </p>
    <br>
  </div>

  <div class="row">
    <h3>Sample request</h3>
    <pre>
  curl http://dantat.herokuapp.com/api/isopen </pre>
    <br>
    <h3>Sample responses</h3>
    <p>
      If the bakery is open, the response will be
    </p>
    <pre>
  {
    message: true,
    status: 200
  }  </pre>
    <p>
      If the bakery is closed, the response will be
    </p>
    <pre>
  {
    message: false,
    status: 200
  }  </pre>
  </div>
  <br>
  <br>
  <div class="row">
  </div>

{% endblock %}